@font-face {
  font-family: "Se-a";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Se-a.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Se-a";
  font-size: 40px;
  max-width: 500px;
  font-weight: 600;
  margin: auto;
}
